body{
background-color: rgb(230, 173, 99);
}

input {
border-radius: 50px;
width: 400px;
height: 35px;
}

button {
border-radius: 25px;
width: 250px;
height: 50px;
color: green;
background-color: rgba(245, 220, 240, 0.753);
}
button:hover {
background-color: aqua;
color: blue;
}