html {
scroll-behavior: smooth;
}

body {
margin: 0;
padding: 0;
font-family: 'Advent Pro', sans-serif;
}

#logo{
    font-family: 'Dancing Script', 'cursive';
    font-weight: bold;
    float: left;
}

li {
list-style-type: none;
float: right;
padding-left: 2em;
text-align: center;

}

ul {
text-align: center;
text-transform: capitalize;
font-family: 'Courier New', Courier, monospace;
overflow: hidden;
background-color: rgba(26, 128, 0, 0.747);
position: fixed;
}

.imgprincipale {
background: url(/image\ principal.jpg) no-repeat 50% fixed;
width: 100%;
height: 752px;
text-align: center;
color: greenyellow;
padding-top: 0;
}


hr {
size: 2em;
color: blue;
background-color: green;
width: 550px;
box-shadow: 2px 0.9px 1.5px 2px green;
}

li:hover {
background-color: rgb(0, 255, 21);
}
li:visited {
background-color: red;
}
li:active {
background-color: blueviolet;
}

img {
width: 50%;
height: 550PX;
border-radius: 25PX;
padding-left: 240PX;
background-color: aqua;
margin-left: 250px;
background-size: cover;
}
img:hover {
opacity: 0.5ms;
transition: 0.5s ease-in-out;
transform: scale(1.05);
}

p {
font-family: 'Times New Roman', Times, serif;
background-color: yellow;
}

.icon {
justify-content: space-between;
float: right;
margin-left: 20px;
}

a {
text-decoration: none;
}